# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
XMLparser/CppProperties.json
XMLparser/.vs/XMLparser/v16/ipch/AutoPCH/80f914b8f1ab6968/STRING_MANIPULATE.ipch
XMLparser/.vs/XMLparser/v16/ipch/AutoPCH/6452fb47a50c2314/STRING_MANIPULATE.ipch
XMLparser/.vs/XMLparser/v16/Browse.VC.db
XMLparser/.vs/XMLparser/v16/.suo
XMLparser/.vs/VSWorkspaceState.json
XMLparser/.vs/slnx.sqlite
XMLparser/.vs/ProjectSettings.json
.vscode/settings.json
